@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primaryColor: hsl(221, 55%, 56%);
    --hoverColor: hsl(26, 75%, 76%);
    --paleOrange: hsl(23, 94%, 50%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 8%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --inputColor: hsl(154, 14%, 90%);

    
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;  
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html{
    font-size: 90%;
}

img, video{
    height: auto;
    width: 70%;
}



.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ApicolesPage{
    display: grid;
    /* height: 40vh; */
    border: 1px solid #0000;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 0.1);
    border-radius: 10px; 
    margin-left: 20vh;
}

.container{
    margin: 0 auto;
    padding: 10px;
    padding-top: 20px;
}  

.videoDiv video{
    position: absolute;
    top: 2vh;
    left: 0;
    width: 87%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    margin-top: 1vh;
    margin-left: 25vh;
} 
.sidebar{
    margin-top: -12vh;
    margin-left: -2vh;
}
/* Faixing the titles & h2 & p */
.textDiv{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: -100vh;
} 

.title{
    font-size: 2vh;
    color: var(--whiteColor);
    display: grid;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
    margin-left: 20vh;
    margin-top: 10vh;
}


/* .title1{
    font-size: 2vh;
    color: var(--paleOrange);
    display: grid;  
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
    margin-left: 30vh;
} */

.smallText{
    font-size: 1.8vh;
    color: var(--whiteColor);
    display: grid;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 11vh;
    margin-top: -3.8vh;
    padding: 10px;
}

.text{
    font-size: 20px;
    font-weight: 400;
    color: var(--whiteColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 22vh;
    padding: 10px;
    margin-top: -5vh;
}
.inputDivOne{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 10vh;
}
.inputDivTow{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 50vh;
    margin-top: -40vh;
}
.inputWrapper{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 24vh;
}

.inputLabel{
    color: var(--whiteColor);
    font-size: 15px;
    display: block;
}

.iW{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding-top: 1vh;
    padding: 10px 20px;
    margin-top: 20px;
}

.textDi{
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .2rem  .1rem;
    color: var(--whiteColor);
    margin-left: 32%;
    margin-top: 2vh;
    background: rgba(12, 27, 93, 0.932);
    max-width: 20vh;
    max-height: 10vh;
}

.BigTitle{
    padding: .3rem;
    background: rgba(12, 27, 93, 0.932);
    border-radius: 10px;
    color: white;
    align-items: end;
    margin-top: 3vh;
    margin-left: 28px;
    font-size: 15px;
    justify-content: center;
    gap: .5rem;
    transition: .3rem ease;
    width: 158%;
    height: 5vh;
}

